---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | imelda kasente" description="About imelda kasente">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/ima.jpg"
					alt="imelda kasente at work with a colleague"
				/>
			</Hero>

			<section>
				
				<h3 class="section-title">From Roots to Code</h3>
				<div class="content">
					<p>
					     From Tanzanian roots to Kenyan growth, my compass has always pointed towards social impact. Volunteer work ignited this passion, 
						 and my adventures in language learning (French!) and a detour in education fueled my desire to make a difference. France has embraced me,
						  becoming a second home, while Italy warmly welcomed me too. 
					</p> <br>

					<p>
					     These experiences have instilled in me a remarkable ability to adapt and learn new cultures with ease. Now, I'm taking my passion for social impact to a thrilling new chapter:
						  technology. As a former educational social care giver, my empathy and communication skills are honed. Now, I'm driven to build a fulfilling career as a developer, 
						 where I can contribute my skills, experiences, and cultural fluency to help others through innovative tech solutions.
					</p> <br>
				</div>

			</section>




			<section>
				<h2 class="section-title">How do I envision this new profession?</h2>
				<div class="content">
					<p> The allure of software development lies in its power to conceive and craft solutions that genuinely address real-world problems. It extends far beyond merely designing websites or applications. I am committed to crafting meaningful experiences by understanding user needs, identifying pain points, proposing effective and accessible solutions, learning from each iteration, and continuously refining and enhancing the user journey.

                 </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
